 <!--begin
  Name: Nathan Keenan
  Program: Business Information Technology
  Course: WEBD-3011 (277098)
  Created: 2026-04-10
  Updated: 2026-04-13
 -->

<h1>Products</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
  <%= render partial: "product_card", collection: @products, as: :product %>
</div>
